Effect of a BYE on RtpReceiver.track

If an RtpReceiver receives a BYE from an RtpSender, what happens? 

Does receiver.track.onmute fire? 

Some questions: 

1. When transceiver.stop() is called, does transceiver.sender send a BYE? 
2. When transceiver.sender.replaceTrack(null) is called does transceiver.sender send a BYE?
3. What about transceiver.sender.track.enabled = "false"?

Clarification: it's the sender that sends the BYE when it's stopped, the transceiver is only inidirectly involved (because stopping the transceiver stops alll the senders).


@alvestrand  @stefhank Correct.  Some thoughts: 

1. When transceiver.stopped is set to true, a BYE is sent on all transceiver.sender encodings[].ssrc.  When a BYE is received, the transceiver.receiver.track.onmute EventHandler is fired. 
2. Calling replaceTrack(null) or setting transceiver.sender.track.enabled to "false" does not causes a BYE to be sent (though the remote receiver might timeout the SSRC, as described in RFC 3550 Section 6.3.5). 

Seems strange that .enabled would send a BYE if replaceTrack(null) doesn't, so I think 3) above is 'no'.

we want BYE to be sent if we're never going to use that SSRC again. So flipping .enabled shouldn't touch it. .ended is set from .stop, but we might want to resurrect it even then, so what do we do when

pc.addTrack(track1) => sender1
track1.stop()
sender1.replaceTrack(track2)

If the sequence

pc.addTrack(track1) => sender1
sender1.replaceTrack(track2)

continues sending on the same ssrc, it seems that the first sequence should also do so, and thus we shouldn't be sending BYE on ended.

after a transceiver.stop() we're not going to use that SSRC again, so sending a bye then seems OK.
similar logic brings me to think that a BYE says "I'm not going to be talking to you on this ssrc again", so doing track.stop and firing an ended event seems sensible.

If we have examples in the wild of people doing BYE & then resurrecting the SSRC, this logic falls flat.


@alvestrand Agree with the principle that a BYE is only sent if we're never going to use the SSRC again, so flipping .enabled or replaceTrack(null) doesn't cause a BYE to be sent.  Also agree that sender.track.stop() shouldn't result in a BYE being sent.  