Wrong RFC referenced by rtpTimestamp

```
rtpTimestamp of type unsigned long, required

The last RTP timestamp, as defined in [RFC3559] Section 5.1, of the media played out at timestamp.
```
This should say RFC3550, not RFC3559. (Thanks @ksridhar for [noticing](https://github.com/w3c/webrtc-stats/issues/229#issuecomment-525294082).)