getParameters(parameters) . headerExtensions should be described using internal slots or functions

The current text for RTCRtpSender.getParameters() says:

"The [headerExtensions](https://w3c.github.io/webrtc-pc/#dom-rtcrtpparameters-headerextensions) sequence is populated based on the header extensions that have been negotiated for sending."

This is a bit fluffy. RFC 8285 section 7 describes the SDP offer/answer, but also says that "Either party MAY include extensions in the stream other than those negotiated, or those negotiated as "inactive" (for example, for the benefit of intermediate nodes). "

The language of the spec should be cleaned up to make it possible to say, based on SDP, what values are set in the sender's and receiver's getParameters.

