Setting active attribute to false triggers BYE?

We are currently seeing implementations send an RTCP BYE as a result of setting the `active` attribute to `false`. This doesn't seem right - my understanding is that an RTCP BYE is to be sent only when an SSRC is removed, such as for [RTCRtpTransceiver.stop()](https://w3c.github.io/webrtc-pc/#rtcrtptransceiver-interface).  Setting the `active` attribute to `false` doesn't cause the SSRC to removed, so it shouldn't result in sending a BYE. 

Do we need a clarification about this (e.g. in the description of [`active`](https://rawgit.com/w3c/webrtc-pc/master/webrtc.html#rtcrtpencodingparameters))?

We do note that inactivated SSRCs can result in a timeout on the receiver (https://w3c.github.io/webrtc-pc/#mediastreamtrack) . From RFC 3550 Section 6.3.5:

```
   Any member on the sender list who has not sent an RTP packet
   since time tc - 2T (within the last two RTCP report intervals) is
   removed from the sender list, and senders is updated.
```