Should SCTP transport enter "closed" state when DTLS transport does?

The spec says about SCTP transport state "closed":

A task is queued to update the [[SctpTransportState]] slot to "closed" when a SHUTDOWN or ABORT chunk is received or when the SCTP association has been closed intentionally, such as by closing the peer connection or applying a remote description that rejects data or changes the SCTP port.

It is not clear what should happen if the DTLS transport enters "closed" or "failed" state.
I suggest we update the spec to say "In addtion, the [[SctpTransportState]] slot is updated to "closed" when the DTLS transport enters "closed" or "failed" state".

I think queueing a task is the wrong thing here - if changes in DTLS state trigger changes to SCTP state, I think we'd want to have them happen "simultaneously" - the DTLS statechange handler should see the SCTP state as already changed.



When the SCTP transport state goes to "closed", I think all datachannels using this transport should also go to "closed". I don't think the spec says that either.


> It is not clear what should happen if the DTLS transport enters "closed" or "failed" state.
> I suggest we update the spec to say "In addtion, the [[SctpTransportState]] slot is updated to "closed" when the DTLS transport enters "closed" or "failed" state".

They are different protocols and, IMHO, mixing their states will make things even more complicated. Also, replacing a DTLS transport is feasible, so this would limit us somewhat. I'd say let SCTP fail on its own with its own timers. Implementations can fiddle with SCTP timers to slightly improve UX.

In practice, most implementations are more keen to listen to ICE going into `failed` or `disconnected` for too long anyway and not fiddle with a dozen other state changes of the stack. By my own experience within an app, reacting to all state changes instead of just the ICE ones can be incredibly hard to get right without causing side effects.

> I think queueing a task is the wrong thing here

Queued dispatching of state changes is almost always a demon portal, so I agree with that.

> When the SCTP transport state goes to "closed", I think all datachannels using this transport should also go to "closed". I don't think the spec says that either.

Haven't found anything explicitly saying it but all SCTP streams will close and thus this should be triggered: https://w3c.github.io/webrtc-pc/#announcing-a-data-channel-as-closed
We can make it more clear if desired.

@alvestrand said: 

"When the SCTP transport state goes to "closed", I think all datachannels using this transport should also go to "closed". I don't think the spec says that either."

[BA] It does say this in  [Section 6.2.5](https://w3c.github.io/webrtc-pc/#announcing-a-data-channel-as-closed): 

"When an RTCDataChannel object's underlying data transport has been closed, the user agent MUST queue a task to run the following steps:"

Here "underlying data transport" refers only to the SCTP stream pair.  However, since it is not possible to resurrect an SCTP stream pair over an alternative DTLS transport if the existing DTLS transport fails, perhaps "underlying data transport has been closed" could be generalized somewhat.



> Here "underlying data transport" refers only to the SCTP stream pair. However, since it is not possible to resurrect an SCTP stream pair over an alternative DTLS transport if the existing DTLS transport fails, perhaps "underlying data transport has been closed" could be generalized somewhat.

Like I said, that would be an artificial limitation. Not saying that replacing a DTLS transport is something useful but it can be done. :slightly_smiling_face: With https://github.com/w3c/webrtc-pc/issues/2360#issuecomment-554952087 I'm basically saying: Err, let's not make this any more complicated since it really doesn't matter in practice.

In our particular stack, where there is no procedure for replacing or restarting the DTLS connection underlying the SCTP transport, I think it is correct to have the SCTP state machine go to "closed" when the DTLS state machine does.

There is a procedure for restarting an ICE transport (ICE restart), so stopping DTLS or SCTP when ICE transport goes to "failed" would not be appropriate

The only part of RFC 8261 that deals with shutting down seems to be this paragraph:
```
   o  All SCTP associations are single-homed, because DTLS does not
      expose any address management to its upper layer.
```
RFC 4960 section 8.1 says "The association is automatically closed when the peer endpoint becomes unreachable."

The particular situation I'm staring at now involves incoming error alerts according to RFC 8446 (TLS 1.3) section 6.2 - the RFC says that "Upon transmission or receipt of a fatal alert message, both parties MUST immediately close the connection."

I think section 6.2.5 (quoted above) should be invoked immediately when there is a DTLS error alert. The peer endpoint has just become unreachable.





Deleted my comment. Agree with @alvestrand for the WebRTC API. ORTC implementations can still decide to allow for DTLS transport replacement if or when the PR gets merged.

Thanks, I've created a PR to describe this situation, with a comment about why it's logical.
