DTLS1.2 negotiation failure on webrtc using firefox5.0  version

Hello Sir:
            Now I am developing a project about WebRTC gateway. Since my WebRTC gateway only support dtls1.0,but firefox5.0 only support dtls1.2,so dtls negotiation failure and WebRTC cannot run.
          In my WebRTC gateway, our dtls1.0 is realized based on openssl and redevelopment is conducted. Our dtls1.0 support this cipher suite : TLS_DHE_RSA_WITH_AES_256_CBC_SHA. While firefox5.0 send client hello message,also support TLS_DHE_RSA_WITH_AES_256_CBC_SHA although firefox5.0 using dtls1.2. 
           so I thought of a simple plan to support dtls1.2 on my WebRTC gateway by modifying the dtls version number,not add cipher suites. 
           When I testing this modified dtls1.2 on my WebRTC gateway, there is a question:
1、	Firefox send client hello.
2、	Gateway send hello verify request.
3、	Firefox send second client hello with cookie
4、	Getaway send server hello,certificate,server key exchange,certificate request,server hello done

But firefox5.0 have not send follow-up message,such as certificate,client key exchange…..,so negotiation failure. Also not sed alarm message, and I can not get the error log from firefox.

 Please help me find the reason why firefox cannot send follow-up message?





Wireshark






Please help me , attach file of wireshark.  I can not upload. If you need ,I can send email to you. thank you.







This is not a spec issue. Please report to Mozilla.

Note: There are a number of differences between DTLS 1.0 and DTLS 1.2 (see RFC 6347 section 8 for a summary). Just patching the version number does not give you a working DTLS 1.2.

TLS 1.0 (the basis of DTLS 1.0) has known security issues, and is deprecated. You shouldn't be using it.


FWIW, DTLS 1.0 is based on TLS 1.1.  The rest of Harald's response is entirely correct.  However DTLS 1.0 [is supported in Firefox](http://searchfox.org/mozilla-central/rev/f433f0dd7158d7bfc4c4607161fc6baa88b5a9f4/media/mtransport/transportlayerdtls.cpp#534-539).  What is not supported is HelloVerifyRequest.  This is unnecessary given that ICE establishes a willingness to communicate.

Thanks for all  responses. I will  add a few points:

For  Harald:
Now my WebRTC gataway is also support TLS1.2,but not support DTTL1.2.Since firefox and gataway share a same cipher suite : TLS_DHE_RSA_WITH_AES_256_CBC_SHA,and I modify some changes by comparing openssl1.0,1t and openssl1.0.2h, not only changes the version number(but not modify changes about sipher suite).So i suspect that  sipher suite is the reason why Firefox does not send follow-up messages.  Also a question , how can i get firefox log for this error.

For martin:
 I don't quite understand what you mean.  Since firefox support DTLS1.0, i can send server hello with dtls1.0 version when firefox send client hello with dtls1.2?  And my gateway dose not need to send HelloVerifyRequest? But when my gateway send HelloVerifyReques,firefox send client hello quickly,so i think this flow is OK. Isn't dtls1.0 the way it is  ?




  



note: openssl1.0,1t support dtls1.0,openssl1.0.2h support dtls1.2

Issues with interoperation with browsers needs to be filed against the browsers, NOT against the spec. Please respect this.
