RTCP is mandatory, but not always implemented in legacy systems

The IETF draft rtp-usage mandates RTCP, although there are several middleboxes that send: no RTCPs, only RTCP Sender Reports, or only RTCP Receiver Reports,  when handling bi-directional media.

Is the expectation that any of these cases should work?

From the API perspective, it is likely that these systems do not support mux-ing, and will set the `negotiate` flag in RTCRtcpMuxPolicy, however, the WebRTC endpoint may not receive any RTCP. Are the stacks robust to this?

@vr000m  From an API standpoint, I do not see an issue with the current WebRTC 1.0 API.  In the Stats API, partial or complete lack of RTCP will of course affect the counters.  Is there a particular scenario that you think would cause the Stats API to malfunction?

My read of WG debate is that communication with such systems is expected to fail.
Thus, we can only communicate with such systems using gateways.

The draft-ietf-rtcweb-gateways was intended to capture considerations for communication with such devices, but hasn't had much traction in the way of contributions.

I don't think this is a concern for webrtc-pc.

In my experience, a common issue encountered with systems not sending RTCP is call drops during "hold" scenarios. Compliant WebRTC endpoints and gateways should not encounter these issues, as long as they implement updated specifications and weed out archaic RTP keepalive logic. 

For example, RFC 5245 has Section 10 Keepalives which refers to RTP keepalive mechanisms discussed (and not recommended) in RFC 6263.  This text has been removed in RFC 5245bis Section 8.

@vr000m In my experience, a common issue encountered with systems not sending RTCP is call drops during "hold" scenarios. The problem occurs when a peer that doesn't send RTCP stops sending RTP (e.g. after being notified that it has been put on hold) and the other peer interprets the lack of traffic as evidence that connectivity or endpoint liveness has been lost.

Compliant WebRTC endpoints and gateways should not encounter these issues, as long as they implement updated specifications and weed out archaic RTP keepalive logic. For example:

RFC 7675 (STUN consent freshness) is the mechanism used by WebRTC to determine endpoint liveness and consent - RTP keepalive mechanisms (described in RFC 6263) play no role in this. So for example, a legacy implementation using RTCP receipt as evidence of endpoint liveness is broken.

ICE also does not utilize on RTP keepalive mechanisms. While RFC 5245 had Section 10 Keepalives which refers to RTP keepalive mechanisms discussed (and not recommended) in RFC 6263, this text has been removed in RFC 5245bis Section 8. So a WebRTC-compliant ICE implementation should not incorporate RTP keepalive logic.

The endpoints in these cases will just send G711 (constant bit rate, via gateway), there is no congestion control, no NACKs, no adjusting packetization intervals or similar, but there is no real practical fallout -- unless of course a browser expected to receive an RTCP. 

The question was if the browsers are okay with no RTCPs. 

@alvestrand I could send some text for the gateways draft, if there is still a need.

Closing here, other forum better.