Debugging ICE problems needs more info

As discussed in the Seattle F2F:
Debugging ICE needs more info than is currently available in the stats API + the objects tree proposed.

We should document the use cases, and figure out what we need to add.


A few ideas: 

Some ideas that come to mind: 

1. More RTCIceCandidatePairStats:
In addition to roundtripTime, roundtrip maximum
Number of consent requests sent
Number of consent requests received
Number of consent responses sent
Number of consent responses received

2. ICE failure details for error codes and statistics (e.g. for each TURN server), such as: 

Message failure in a connectivity check request or response. 
TURN allocation failure in one or more TURN servers. 
Port range exhausted.
TCP TURN server connectivity failed.
TURN Server credentials expired or unknown.
An attempt to allocate a Transmission Control Protocol (TCP) port on the TURN server failed.
An attempt to send TCP on the TURN server failed.
TURN server is unreachable.
TCP-TCP connectivity checks failed over TURN Server.
An attempt to allocate a UDP port on the TURN server failed.
An attempt to send UDP on the TURN server failed.
UDP local connectivity failed.
UDP NAT connectivity failed.

udpRelayConnectivityFailed of type boolean
UDP TURN server connectivity failed.

useCandidateChecksFailed of type boolean
Use candidates check failed.



which of these can actually be distinguished based on the packets sent/received? IE can you distinguish "UDP TURN server connectivity failed" from "UDP NAT connectivity failed", just based on the packets you send and receive?

Connectivity check errors can be based on packets sent/received.  STUN/TURN/ICE errors can be based on error codes defined in various RFCs:

RFC 5389 Section 15.6 covers STUN error codes. 
RFC 5766 Section 6.4 defines allocation error responses for TURN.  
New error codes for TURN TCP are defined in RFC 6062 Section 6.3.
Additional ICE error codes are defined in RFC 5245 Section 19.2 (role conflict)  

If I remember correctly, we agreed to clean this up. @aboba can you create a PR to do that? The minutes for your reference: https://www.w3.org/2016/02/25-webrtc-minutes

@aboba As per the minutes, https://www.w3.org/2016/02/25-webrtc-minutes it looks like we agreeed on Total Round Trip Time and count running total of responses and retransmissions. Could you formulate a PR for this?

Bernard knows what to do. Waiting for the PR.


Bernard is working on it

In the PR, I have covered both connectivity checks and consent checks (with separate statistics). 

For consent checks, counting "retransmissions" does not make sense, since RFC 7675 says: 

"Each STUN binding request for consent MUST use a new STUN transaction identifier, as described in Section 6 of [RFC5389].  Each STUN binding request for consent is transmitted once only."

PR is in webrtc-stats.


We think that the information added in the stats spec is enough - experience needed to say otherwise.
Closing.
