RTCRtpContributingSource naming

http://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource says
```
The RTCRtpContributingSource objects contain information
about a given contributing source
```
The text further down says the information is taken either from the RFC 6465 (csrc-audio-level) extension or the RFC 6464 (ssrc-audio-level) extension.

While I agree that a single API for both use-cases makes life much simpler, calling the latter a contributing source (a term which is defined in RFC 3550) is slightly confusing.

Ideally the "contributing" could be dropped from the name. If that ship has sailed,  
    about a given contributing source **or synchronization source**, including the
would clarify things at least.

@alvestrand brought this up in issue #1091:

> I'm not sure it makes sense to have the SSRC listed in the contributing sources (it's not, after all, a contributing source), but having the level information consistently available is definitely useful.

Another thing to add to the "`getContributingSources` issues" bucket for the next virtual interim...

Decision at the interim was "keep `getContributingSources`, but it only returns CSRC information. Add a separate method for SSRC information."

Still two minor question to answer, though:

1. What should the second method be called? `getSynchronizationSources`? Just `getSources`?
2. Should both methods return the same type of object (`RTCRtpSource`), or different types (`RTCRtpContributingSource`/`RTCRtpSynchronizationSource`)?

My vote would be for `getSynchronizationSources` and "different types," given that one field (`voiceActivityFlag`) is only used for SSRC objects.

getSources is clearly confusable with the "source" concept for a MediaStreamTrack (which does *not* have getSource), so getSynchronizationSources (or even getSsrcs) is clearly preferable to me.
(I don't think people think about SSRC meaning "synchronization source" any more - it's become its own name.)

From VI: Consensus for there always being an SSRC value (merge PR), but we need a way to differentiate SSRCs and CSRCs values. Consensus to add getSynchronizationSources to go along with getContributingSources.




#1133 seems to be the PR for this issue.