Partially connected peerconnection might have "new" connectionstate.

Assume we have a peerconnection with a since ice transport and a dtls transport running on top of it. 
During setup we might have these steps:

ice transport | dtls transport | connectionState
--- | --- | ---
new | new | new
checking | new | connecting
connected | new | new <---
connected | connecting | connecting
connected | connected | connected

This seems really unintuitive, I'd expect the connectionState to stay as "connecting". In https://w3c.github.io/webrtc-pc/#dom-rtcpeerconnectionstate would it make sense to move the "some connected, some new" case from "new" to "connecting"?

A similar thing might happen to the ice connection state if there's multiple ice transports and one connects while another remains "new", but that seems like more of an edge case.

Yes, this state should map to "connecting".
The text for "new" is:

Any of the RTCIceTransports or RTCDtlsTransports are in the "new" state and none of the transports are in the "connecting", "checking", "failed" or "disconnected" state, or all transports are in the "closed" state, or there are no transports.

Suggested fix: Add "connected" to the list of states after "none of the transports are".
 

I think this highly depends on when the dtls transport changes from new to connecting. See the definition [here](https://w3c.github.io/webrtc-pc/#dom-rtcdtlstransportstate)
If it starts the process of negotiating at the same time as the ice transport this can not happen.
If it waits for the ice transport to finish and only moves to connecting once the first dtls hello is sent/received then this situation can happen.

@pthatcherg did i forget something? I lost the hand-written note unfortunately :-)

My interpretation of https://w3c.github.io/webrtc-pc/#dom-rtcdtlstransportstate is that it's "new" until it sends the ClientHello / receives the ClientHello, and remains in "connecting" until the Finished message is received. (RFC 5246 section 7).
If this is true, the question becomes "is it possible that sending ClientHello can be delayed until after the ICE Transport is "connected"?
of course, if you don't have a buffer to store the ClientHello in while you wait for ICE to become connected, the answer is trivially "yes".




@jonasesolsson I dont' understand why connected ICE + closed DTLS should be "connected" - I would think it would be "closed".
The table is just text - if we can make the text clearer by calling out things before or after the table, we should do so!

Here's an attempt to simplify the table by making it self-referential, while also fixing the new->connecting->new thing.

state | description
-------|----------------
closed | The RTCPeerConnection object's [[IsClosed]] slot is true.
failed | None of the previous states apply and any of the RTCIceTransports or RTCDtlsTransports are in the "failed" state.
new | None of the previous states apply and all of the RTCIceTransports or RTCDtlsTransports are in the "new" or "closed" state, or there are no transports.
connecting | None of the previous states apply and any of the RTCIceTransports or RTCDtlsTransports are in the "new", "connecting" or "checking" state.
connected | None of the previous states apply and all RTCIceTransports and RTCDtlsTransports are in the "connected", "completed" or "closed" state.
disconnected | None of the previous states apply and any of the RTCIceTransports or RTCDtlsTransports are in the "disconnected" state.

This is pretty close to the code that eventually has to be written, which is a win in my book.

since I like disagreeing with my last weeks self: https://bugs.chromium.org/p/chromium/issues/detail?id=909684#c7 shows an example of why @jonasesolsson definition is better and its independent of the DTLS transport even.

If you have a connected ice transport and add a new one you should not end up with 'new'

With that PR merged, this issue can be closed.