Options attribute is required for createAnswer

> Originally reported on W3C Bugzilla [ISSUE-26279](https://www.w3.org/Bugs/Public/show_bug.cgi?id=26279) Tue, 08 Jul 2014 03:36:44 GMT
> Reported by Kiran
> Assigned to 

Options attribute is missing for createAnswer [1].
As per RFC 3264 section 6.1 [2], Answerer should have provision to respond with the preferred option.

1. recvonly or inactive if the offered stream is sendonly.
2. sendonly or inactive if the offered stream is recvonly.
3. sendrecv or recvonly or sendonly or inactive if the offered stream is sendrecv.

   "If a stream is offered as sendonly, the corresponding stream MUST be
   marked as recvonly or inactive in the answer.  If a media stream is
   listed as recvonly in the offer, the answer MUST be marked as
   sendonly or inactive in the answer.  If an offered media stream is
   listed as sendrecv (or if there is no direction attribute at the
   media or session level, in which case the stream is sendrecv by
   default), the corresponding stream in the answer MAY be marked as
   sendonly, recvonly, sendrecv, or inactive.  If an offered media
   stream is listed as inactive, it MUST be marked as inactive in the
   answer"

[1] http://dev.w3.org/2011/webrtc/editor/webrtc.html#interface-definition
[2] http://tools.ietf.org/html/rfc3264#page-9

Options attribute was added with the merge of #171  - closing this issue.