Should RTCRtpTransceiver.setCodecPreferences() only refer to RTCRtpReceiver.getCapabilities(kind)? 

According to JSEP http://rtcweb-wg.github.io/jsep/#rfc.section.4.2.6 `setCodecPreferences` affects which codecs the implementation indicates that it prefers to receive.

So I am wondering, why are we referring to `RTCRtpSender.getCapabilities(kind)` and not just to `RTCRtpReceiver.getCapabilities(kind)` in the function description?
See https://w3c.github.io/webrtc-pc/#dom-rtcrtptransceiver-setcodecpreferences

@Orphis `setCodecPreferences` affects which codecs are included in `createOffer` or `createAnswer`. For this purpose, either `RTCRtpSender.getCapabilities(kind)` or `RTCRtpReceiver.getCapabilities(kind)` may be relevant, depending on the direction indicated (`sendrecv`, etc.). 

With respect to the Offered codecs, RFC 3264 Section 5.1 says: 

   The list of media formats for each media stream conveys two pieces of
   information, namely the set of formats (codecs and any parameters
   associated with the codec, in the case of RTP) that the offerer is
   capable of sending and/or receiving (depending on the direction
   attributes), and, in the case of RTP, the RTP payload type numbers
   used to identify those formats.  If multiple formats are listed, it
   means that the offerer is capable of making use of any of those
   formats during the session.  In other words, the answerer MAY change
   formats in the middle of the session, making use of any of the
   formats listed, without sending a new offer.  For a sendonly stream,
   the offer SHOULD indicate those formats the offerer is willing to
   send for this stream.  For a recvonly stream, the offer SHOULD
   indicate those formats the offerer is willing to receive for this
   stream.  For a sendrecv stream, the offer SHOULD indicate those
   codecs that the offerer is willing to send and receive with.

For the codecs in the Answer, RFC 3264 Section 6.1 says: 

   For streams marked as recvonly in the answer, the "m=" line MUST
   contain at least one media format the answerer is willing to receive
   with from amongst those listed in the offer.  The stream MAY indicate
   additional media formats, not listed in the corresponding stream in
   the offer, that the answerer is willing to receive.  For streams
   marked as sendonly in the answer, the "m=" line MUST contain at least
   one media format the answerer is willing to send from amongst those
   listed in the offer.  For streams marked as sendrecv in the answer,
   the "m=" line MUST contain at least one codec the answerer is willing
   to both send and receive, from amongst those listed in the offer.
   The stream MAY indicate additional media formats, not listed in the
   corresponding stream in the offer, that the answerer is willing to
   send or receive (of course, it will not be able to send them at this
   time, since it was not listed in the offer).  For streams marked as
   inactive in the answer, the list of media formats is constructed
   based on the offer.  If the offer was sendonly, the list is
   constructed as if the answer were recvonly.  Similarly, if the offer
   was recvonly, the list is constructed as if the answer were sendonly,
   and if the offer was sendrecv, the list is constructed as if the
   answer were sendrecv.  If the offer was inactive, the list is
   constructed as if the offer were actually sendrecv and the answer
   were sendrecv.

I think 3264 is unclear about when it talks about the content of the media section (all the codecs you're able to use) and the content of the m-line (your preferences as to what codec to use).



So based on direction:

- Sendonly: use sender.getCaps
- Recvonly: use receiver.getCaps
- Sendrecv: use the intersection of sender.getCaps and receiver.getCaps
- Inactive: do the same thing as sendrecv

That's surprising.

I understand now, thanks for the clarification!

We've landed https://github.com/w3c/webrtc-pc/pull/2030 clarifying some of this. Can this issue be closed?

For the record: the answer here was wrong. setCodecPreferences() should only consider receive codecs, as evidenced in discussion of #2888 