get/setParameters does not have a parameter for packetization interval

We have a few parameters for video and simulcast, would like to have one for packetization interval. Currently, I cannot find a way to change it without messing with the SDP.

Currently, you'd have to read "sdpFmtpParameters" and parse the "key=value; key=value;" structure. I'd propose changing this to a Dictionary, like in ORTC, assuming all codecs use the "key=value" structure.

What about setting the packetization interval on setParameters?

Well, I thought codecs can only be reordered, not modified, so that wouldn't be supported. Though RTCRtpParameters.codecs isn't marked read-only; is that just an oversight?

@vr000m Are you looking for something like RTCCodecParameters.maxPtime or .ptime as in: http://draft.ortc.org/#dom-rtcrtpcodecparameters ?
time

> Does this reflect only what pertains to the object context (e.g. no profile-level-d for an RtpSender)?

It's possible to have different parameters on the send/receive sides. So yes, I'd expect the sender's sdpFmtpLine to come from the remote description, and receiver's sdpFmtpLine to come from the local description.

Also, as currently written, it sounds like this attribute should include the entire line (including "a=fmtp:<PT> "). That seems unnecessary. I'll file an issue.

> are you looking for something to control RtpSender behavior like RTCCodecParameters.maxPtime or .ptime as in: http://draft.ortc.org/#dom-rtcrtpcodecparameters ?

Yes, I am looking for a knobs to control the audio packetization interval. 

@taylor-b codecs[] is not marked read-only.  This allows the codecs[] sequence to be reordered and makes it possible to delete a codec.  But you can't add a new codec to the sequence.  Not clear to me if it is possible to set sdpFmtpLine.

@vr000m Looking at JSEP Section 5.2.1 (initial Offers): 

```   
   o  If this m= section is for media with configurable durations of
      media per packet, e.g., audio, an "a=maxptime" line, indicating
      the maximum amount of media, specified in milliseconds, that can
      be encapsulated in each packet, as specified in [RFC4566],
      Section 6.  This value is set to the smallest of the maximum
      duration values across all the codecs included in the m= section.
```

Section 5.3.1 (Initial Answers) says: 

```   
   o  If this m= section is for media with configurable durations of
      media per packet, e.g., audio, an "a=maxptime" line, as described
      in Section 5.2.
```

Section 5.7.2 (Media Section Parsing) says: 

```   
   o  If present, a single "a=ptime" line MUST be parsed as described in
      [RFC4566], Section 6, and its value stored.

   o  If present, a single "a=maxptime" line MUST be parsed as described
      in [RFC4566], Section 6, and its value stored.
```

Section 5.9 (Applying a Remote Description) says: 

```      
*  If the media section is of type audio:

         +  For any specified "ptime" value, configure the available
            media formats to use the specified packet size.  If the
            specified size is not supported for a media format, use the
            next closest value instead.
```

[BA] Together this suggests that a single value of `maxptime` or `ptime` is provided per m-line.  So might be too granular to add a `maxptime` attribute in `RTCRtpCodecCapability` or a `ptime` attribute in `RTCRtpCodecParameters`.

Waiting for PR from @jesup

If we don't have a PR by the interim, we will have problems in adding this one. @jesup?
