"Hold" unspecified

> Originally reported on W3C Bugzilla [ISSUE-20816](https://www.w3.org/Bugs/Public/show_bug.cgi?id=20816) Tue, 29 Jan 2013 18:17:46 GMT
> Reported by Matthew Kaufman
> Assigned to 

The WebRTC draft and its normative references do not define a mechanism for applications for placing a session on hold.   Similarly, no mechanism is defined for receivers to use in requesting that a sender stop the transmission of a specific stream for the purposes of muting that stream.

Right now we have a way to tell the stream to only send "black" or "silence" via the mute, but we need a way to tell a stream to not send RTP packets (but keep doing keep alive , RTCP, etc) so that when the app wants to start sending packets again it can instantly start sending them with no signaling delay

I don't think this is an enhancement - this was one of the reason we were going to do doohickeys and was discussed at the W3C meeting that was in China

Isn't this an optimization? Is there a use-case for "I want to mute my video but waste my bandwidth"?

Well if we had defined the baseline for mute to be not waste bandwidth, I'd be fine with it, but we seemed to make the default be wasted bandwidth with no way to not waste bandwidth. 

Doesn't the UA know that a stream is muted vs. black content? Is so, then can't it optimize it out? I know it can't today, but whatever we'd invent for *hold* couldn't we apply it to *mute* and fake the black on the receiving end?

I think the "active" attribute on the RTPSender was supposed to do this (stop sending RTP, but keep RTCP going), see slide 11 https://www.w3.org/2011/04/webrtc/wiki/images/6/6c/WebRTC_RTCSender-Receiver%2C_TPAC_2014.pdf

I think there is no API to ask the other end to stop sending RTP to you, but I don't really see the need for it.

Intersting - that version of active makes sense to me but I think @juberti might have been thinking of something different. Regardless of what we decide it means - we need to make the spec super clear on what it means. 

Agreed, the spec must be clear.

Bernard will query the list to see if this is OK.


The following PRs provide functionality relating to this issue: 
Add activateReceiver() to RTCRtpTransceiver: https://github.com/w3c/webrtc-pc/pull/505
Add getParameters() to RTCRtpReceiver: https://github.com/w3c/webrtc-pc/pull/504
active for RTCRtpReceiver: https://github.com/w3c/webrtc-pc/pull/475

An example of "hold" usage is provided in RFC 4317 Section 3.1, where Alice sends an Offer to Bob who responds with a=sendonly (putting Alice on Hold).  To resume, Bob sends an Offer to Alice and Alice Answers. 

Here is how this can be implemented: 

1. Alice (the Offerer) calls pc.addTransceiver() with init.send=true and init.receive=true (sendrecv)
2. Bob (the Answerer) calls pc.addTransceiver() with init.send=true and init.receive=false (sendonly).  3. After Alice calls setRemoteDescription(), sender.getParameters().encodings[0].active should be set to "false". 
4. For Bob to resume receiving audio from Alice, Bob calls activateReceiver(), and then sends an Offer to Alice which should indicate sendrecv.
5. Once Alice calls setRemoteDescription(), sender.getParameters.encodings[0].active should then be set to "true". 


@aboba Can you please create a PR for this in the form of a sample in the examples section of the draft, if you think it's appropriate?

Will write a PR once we decide what to do with PR https://github.com/w3c/webrtc-pc/pull/466

Now that #466 is near merged, Bernard will create PR

Assuming that setDirection() lands (see PR https://github.com/w3c/webrtc-pc/pull/620)  we will have all the basics: 

1) Mute (on a track level): 

Solution:
var parameters = sender.getParameters(); 
parameters.encodings[0].active = "false"; 
sender.setParameters(); 

(optionally) Mute on a stream level (Mute all tracks)
(where "Mute" means replace with silence/black)

2) Replace track with other media (muzak, slate, etc)

Solution: replaceTrack()

3) change directionality of a stream
sendonly, sendrecv, recvonly, inactive

Solution: transceiver.setDirection(direction)

4) notification of directionality changes

Solution: signaling