Proposing setCodecPreferences to deal with both send and recv codecs

Based on prior discussions such as https://github.com/w3c/webrtc-pc/issues/2937#issuecomment-1942031155, here's a concrete proposal which I think fixes unidirectionality, requires no changes to JSEP (consistent with https://github.com/w3c/webrtc-pc/issues/2938#issuecomment-1942116384) and avoids backwards compat issues introduced by #2926.

*How did we get here?*

JSEP has this note (https://rtcweb-wg.github.io/jsep/#rfc.section.4.2.6):
> Note that setCodecPreferences does not **directly** affect which codec the implementation decides to send. It only affects which codecs the implementation indicates that it prefers to receive, via the offer or answer.

We took this to mean "SCP should only take _receive codecs_ as input", something which JSEP neither says or IMO imply. The note only talks about the *direct* effect; there's also the *indirect* effect that the preferences have.

*Excluding send codecs was a mistake.*

The preferences are relevant even for sendonly transceivers, since **we must have something to offer** (https://rtcweb-wg.github.io/jsep/#rfc.section.5.2.1):
> If codec preferences have been set for the associated transceiver, media formats MUST be generated in the corresponding order, and **MUST exclude any codecs not present in the codec preferences**.

This does not mean that preferences are irrelevant for the sending use case: **the receiver not having called `setCodecPreferences` is a valid use case**, in which case the sender's preferences are the ones we use (https://rtcweb-wg.github.io/jsep/#rfc.section.5.3.1):
> - If codec preferences have been set for the associated transceiver, media formats MUST be generated in the corresponding order, regardless of what was offered, and MUST exclude any codecs not present in the codec preferences.
> - **Otherwise,** the media formats on the m= line MUST be generated in the **same order as those offered** in the current remote description, excluding any currently unsupported formats. Any currently available media formats that are not present in the current remote description MUST be added after all existing formats.

We could simply say we don't care about this use case, but that appears to have some downsides when it comes to unidirectional codecs.

**Proposal**

"`setCodecPreferences` accepts both send codecs and receive codecs as input."

The actual preferences you end up using depend on the [createOffer filtering](https://w3c.github.io/webrtc-pc/#dfn-final-steps-to-create-an-offer) we already apply based on `transceiver.direction`. This makes it valid for...
- A sendonly transceiver to offer sendonly codecs and sendrecv codecs.
- A sendrecv transceiver to offer sendrecv codecs, but not sendonly or recvonly codecs.
- A recvonly transceiver to offer recvonly codecs and sendrecv codecs.

*To be discussed*

Note that it's possible for the filtering to end up with an empty codec list. There are multiple ways we could deal with this, of which I have no strong preference. Examples:
1. SCP and direction setting could sanity check and throw if we end up with an empty set.
2. createOffer could throw.
3. We don't throw, but if we have nothing to offer we reject the m= section.
4. If we end up with empty set we offer one of the mandated to support sendrecv codecs as a "backup" (VP8 and H264).
5. SCP could require that at least one codec is sendrecv, in which case there is no filtering that could remove it, and changing direction is always safe.

> we must have something to offer

We don't. If we have nothing to offer this is similar to "we have nothing to answer" which is described as

> None of the offered media formats are supported and, if applicable, allowed by codec preferences.

in https://rtcweb-wg.github.io/jsep/#rfc.section.5.3.1
I think this case is rare enough that going for 3 is a pragmatic solution. And yes, I have a code change for that already that is quite small

@henbos The fundamentals are laid out in RFC 3264 Section 5.1: 

"For a sendonly stream, the offer SHOULD indicate those formats the offerer is willing to send for this stream.  For a recvonly stream, the offer SHOULD indicate those formats the offerer is willing to receive for this stream.  For a sendrecv stream, the offer SHOULD indicate those codecs that the offerer is willing to send and receive with."

Based on this, the statement about SCP in JSEP 4.2.6 is correct for recv-only and send-recv m-lines, but I do not believe that it is correct for send-only m-lines. 

Some notes: 

1. A sendonly transceiver can only offer codecs/profiles that can be sent (send-only or send/recv)
   a. In a situation where the browser can send at a different profile/level than it can receive, the send profile is used.
2. A sendrecv transceiver to offer sendrecv codecs/profiles, but not sendonly or recvonly codecs.
   a.   In a situation where the browser can send at a different profile/level than it can receive, the lower of the profiles is used.
3. A recvonly transceiver can only offer codecs/profiles that can be received (recv-only or send/recv)
   a. In a situation where the browser can send at a different profile/level than it can receive, the receive profile is used. 




This issue  was discussed in [WebRTC February 2024 meeting – 20 February 2024  (setCodecPreferences to deal with both send and recv codecs #2939)](https://www.w3.org/2024/02/20-webrtc-minutes.html#t06)

@henbos what are next steps here?

Related: https://github.com/aboba/hevc-webrtc/issues/22

See suggested liberal interpretation from Justin. 

@jan-ivar H.265 is getting close to being enabled behind a flag, so in the near future we will be able to see how receive-only codecs behave, and what the problems are.  At that point we can present the issue to the WG in light of the behavior we see. IMHO it would be desirable to converge on recommended changes prior to enabling H.265 by default.  

At TPAC we discussed the different options, including allowing sendrecv transceiver to include recvonly codecs and the potential foot gun there, but there was a strong preference to keep things simple and always include codecs supported in the direction(s) of the transceiver.

Let's close this issue in favor of #3006