 Why is RTCRtpSynchronizationSource.voiceActivityFlag required-but-nullable?

It seems like we want to represent the "not available" state; that part makes sense. Why is that represented as null as opposed to just not having the property in the dictionary?

See https://github.com/w3c/webrtc-pc/issues/1688#issuecomment-350124037. Is `required-but-nullable` some form of lint warning?

> Is required-but-nullable some form of lint warning?

If my head is a linter, then yes... ;)

Feature detection, whether the browser supports getSynchronizationSources() but not the voiceActivity member, versus it supports it and the RFC 6464 extension header is absent, or the peer has signaled that it is not using the V bit by setting the "vad" extension attribute to "off", as described in [RFC6464], Section 4.

The same concern as https://github.com/w3c/webrtc-pc/issues/1688#issuecomment-350783333 applies here.

So in Nightly we've implemented `getSynchronizationSources()` without implementing the `voiceActivityFlag`, and users can tell because the member will be absent. Had we returned `null` people might mistake it for a working implementation.

Now, you could probably argue we shouldn't have implemented anything until we'd implemented all the fields - you'd have a point, we've been less than great in WebRTC at holding back APIs until they're complete - in practice, I think it's also true that there's always another partial dictionary around the corner, so what you're saying doesn't seem to work in general. E.g. if there were a new similar member spec'ed tomorrow, shipping updated webidl that returned `null` for this member wouldn't seem to make much sense, introducing a js observable change at a point in time of no significance.

What's the rationale for avoiding required-but-null on outputs? 

> So in Nightly we've implemented getSynchronizationSources() without implementing the voiceActivityFlag

I should note that our IDL for this dictionary in Firefox nightly looks nothing like spec's in various ways...

> you could probably argue we shouldn't have implemented anything until we'd implemented all the fields

I'm not making that argument.  I'm making the argument that _if_ it's expected that implementations will want to ship `RTCRtpSynchronizationSource` without implementing `voiceActivityFlag`, _then_ the spec should make provisions for doing so and explain clearly how such UAs should behave, so they behave interoperably in that situation.

> What's the rationale for avoiding required-but-null on outputs?

We already have a perfectly good way to indicate "this information is not available": a non-required dictionary member that is not present.  Adding a _different_ way to indicate that information makes the web platform more complicated (now consumers have to worry about three separate possible states, or more, depending on how other specs decide to represent "not available, but we're forcing the property to be present anyway".

Are there practical reasons a consumer would want to differentiate "the browser is not providing us this information because it doesn't want to" and "the browser wants to provide this information but can't"?  Those are basically what you suggest undefined and null map to, right?

There are 4 cases here:
- Header extension (RFC 6464) parsing not implemented
- Header extension doesn't exist on this particular packet
- Header extension exist with V flag value "false"
- Header extension exists with V flag value "true"

The second case isn't "the browser is not providing the information", it is "the browser is telling us that the packet does not provide this information".

This maps to "missing", "null", "false" and "true". We could have other mappings, but we need all 4 states to be representable.

It's an advantage (to my mind) that browsers that implemented this API before this particular piece was cooked up (I don't think there were any, but the principle is good) will be compatible with the specification by omitting the member.



> The second case isn't "the browser is not providing the information"

Yes.  The "the browser is not providing the information" case is the first case.

> This maps to "missing", "null", "false" and "true".

My point is that the spec does not currently allow missing, period.  If you want some configuration to map to "missing", then the spec needs to allow that.

> will be compatible with the specification by omitting the member.

This specification does not allow omitting the member.  That's the whole point.


RTCRtpContributingSource is a dictionary not an interface.
In dictionaries, required parts have the "required" keyword and all other elements can be omitted.

Unless I've missed something fundamental.
http://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource is my reference. Is it the right one?

> In dictionaries, required parts have the "required" keyword and all other elements can be omitted.

Correct.

> http://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource is my reference. Is it the right one?

For this issue, http://w3c.github.io/webrtc-pc/#dom-rtcrtpsynchronizationsource is the relevant-ish one (the really relevant reference is the webidl snippet, but this particular spec doesn't expose a way to link to it sanely).

Note that all the dictionary members here are "required".  That's the whole point.

Ouch. I need new glasses.


January VI meeting decision: Remove "required". If not implemented, missing.
