Investigate stopping SRD and createAnswer

As pointed out in https://github.com/w3c/webrtc-pc/pull/1902/commits/6ae910eafcbf3df624703c2a8104a0b39d6e029f stopping a transceiver when in a non-stable state can have unpredictable consequences.

Investigate what to do to avoid shooting yourself in the foot.

I need to discuss this further with you guys, there's things I don't understand yet. Me wrapping my head around bundling:

Bundling is defined in [sdp-bundle-negotiation](https://tools.ietf.org/html/draft-ietf-mmusic-sdp-bundle-negotiation-52), JSEP uses a single bundle group/transport for bundled m= sections ([jsep#4.1.1](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-24#section-4.1.1)), but can have multiple transports for non-bundled m= sections.
- `balanced`: the first transceiver (m= section) _of each type_ (audio/video/application) defines the transport parameters, all subsequent transceivers are bundle-only (bundled with the first one). Non-bundle-aware endpoints would still be able to send & receive 1 audio, 1 video and 1 application.
- `max-compat`: all transceivers (m= sections) define their own transport parameters. So one transport per transceiver?
- `max-bundle`: the first transceiver (m= section) is the only one that defines transport parameters, all subsequent transceivers regardless of type are bundle-only. Non-bundle-aware endpoints would only be able to send & receive 1 audio, 1 video OR 1 application: the first one.

Then there is the "offerer tagged m= section", which is the m= section whose BUNDLE attributes apply to all other m= sections within that bundle group.

**Questions due to my lack of understanding**:
Q1. What are BUNDLE attributes?
Q2. Is "offerer tagged" different from which transceiver defines transport parameters? Can a bundle-only m= section be the "offerer tagged" m= section?

Rejecting the [offerer tagged m= section requires rejecting all m= section](https://tools.ietf.org/html/draft-ietf-mmusic-sdp-bundle-negotiation-52#section-7.3.3). This may imply:
1. The application is interested in knowing which transceiver (m= section) is "offerer tagged".
2. The application is interested in controlling which transceiver (m = section) is "offerer tagged".
3. The application is interested in knowing which transceivers are bundled. Today this can be controlled, and thus deduced from, the bundle-policy passed at construction. Exposing the bundle groups as a set of transceivers would make this a whole lot more clear though.

And possibly,
4. Would it be worth considering being able to control bundling on a per transceiver basis? Including which one is "offerer tagged"?

To me bundling seems roughly equivalent to "do the transceivers belong to the same transport?". Does RTCRtpTransceiver.getTransport()/setTransport() make sense?

It looks like we've opened a can of worms here.

On call we discussed that behind the scenes we could make stop() just make the transceivers inactive until all transceivers in the same group are stopped, where we negotiate it being stopped for real, but make JavaScript think it is stopped.

We also discussed stop() seeming mostly like an optimization, but because we bundle aggressively, this optimization would rarely apply (all or nothing).

Remove RTCRtpTransceiver.stop()?

My understanding is that if an "m=" section is rejected, this is described in the SDP by zeroing the port, e.g. [1]. We must decide which "m=" sections to reject, including bundled ones, when generating the SDP or else we generate invalid SDP. This [comment](https://github.com/w3c/webrtc-pc/issues/1858#issuecomment-391187810) suggests "_The other rejected m= sections' transceivers shouldn't be stopped until setLocalDescription(answer)_".

I think the webrtc-pc bug is that we only stop transceivers to reflect the fact that they have been rejected at setRemoteDescription(). We have to do the same at setLocalDescription(), because setLocalDescription(answer) may entail setting SDP containing rejected "m=" sections.

I think we have to do this here, because not until SLD do we know which transceivers are associated with which media sections, and not until SLD would we be able to perform the check "transceiver1.receiver.transport == transceiver2.receiver.transport". But it is the act of associating with the "m=" section that causes the transceiver to have to be stopped. If we only stopped related transceivers at RTCRtpTransceiver.stop() then that would not include stopping transceivers for "m=" sections that don't have a transceiver yet, and we may end up creating a transceiver for a rejected "m=" section at SLD that isn't stopped. So let's always stop if rejected at SLD.

This seems like a good idea regardless, there may be other causes for rejecting an "m=" section, and the lower layer states should be surfaced to RTCRtpTransceiver.

[1] [jsep](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-24#section-5.3)

> For each offered m= section, if any of the following conditions are true, the corresponding m= section in the answer MUST be marked as rejected by setting the port in the m= line to zero, as indicated in [RFC3264], Section 6, and further processing for this m= section can be skipped:
> 
> - The associated RtpTransceiver has been stopped.
> - ...

The above being said, it could be a good idea to iterate other transceivers already known to be in the bundled group, just to clarify that stop can cause other transceivers to be stopped, but it is not needed if we do it at SLD and it is not complete to do so. I think it adds more complexity than clarity thinking about all the edge cases.

We still have the problem about about not knowing which is the "offerer tagged" special "m=" section that causes stopping all other transceivers. In fact, this might not have been decided yet if an offer has not been created. I thought about [this comment](https://github.com/w3c/webrtc-pc/issues/1858#issuecomment-391187810):

> That still doesn't tell you which is the special one that can't be rejected, but you could tell by parsing the "a=group:BUNDLE" in the offer. [...] We should just reject all bundled m= sections if this happens, because that's simpler.

If we want to reject all bundled ones, as to not have to worry about which one is "offerer tagged", then we have to either:
1. Update one of the JSEP specs to say that createOffer() should create SDP where all "m=" sections are rejected when bundling is used.
2. Munge the resulting createOffer() SDP to reject all "m=" section when bundling is used.
3. Influence the state of the PC such that createOffer() generates an offer where all "m=" sections are rejected. That is, we stop the transceivers before createOffer().

I think doing 3) means manually stopping all the transceivers if one of them are stopped. But this doesn't even cut it - we'd have to predict which transceivers would be bundled for any transceiver that is created. I think we would have to make addTrack() and addTransceiver() create already-stopped-transceivers. 2) and 3) does not seem feasible. I don't know about 1).

We discussed possibly:

- Throwing an exception if attempting to stop the offerer tagged transceiver unless you've already stopped the other bundled transceivers.

- Adding a isOffererTagged attribute.


And perhaps RTCRtpTransceiver.bundledGroup.transceivers = [ ... ] ?


@henbos I think we resolved just to describe the mess not to fix it.  So can we close this issue? 

We still need to land the PR for describing the mess and fixing the setLocalDescription bug; when I split that up I'll make sure there are corresponding issues describing the thing in question. We can close this messy issue.