iceConnectionState, selectedCandidatePair and races in Chrome Canary

The RTCIceTransportState's "connected" says "The RTCIceTransport has found a usable connection, but is still checking other candidate pairs to see if there is a better connection. [...]" Does usable connection imply that the RTCDtlsTransportState is "connected" or can it be "usable" before then? I'm guessing DTLS is the next layer, and that we can be "ICE-connected" before "DTLS-connected".

Being "ICE-connected" I would assume that if you perform getStats() the transport would have a selectedCandidatePair - how could we be "connected" if we don't have a selected candidate-pair? But it could also be that the candidate pair is not considered "usable" before DTLS handshake.

In Chrome's recent Canary implementation (after a CL that makes iceConnectionState more spec-compliant, including not waiting for DTLS before reporting "connected"), it seems that a side-effect of possibly being "ICE-connected" earlier is that selectedCandidatePair is not always defined on the transport stats object despite iceConnectionState == "connected". This sounds like a bug.

[The test](https://cs.chromium.org/chromium/src/third_party/blink/web_tests/external/wpt/webrtc/RTCPeerConnection-track-stats.https.html) is flaky on tip-of-tree, there are two possible outcomes:

1. transport.dtlsState is "new" and transport.selectedCandidatePair is undefined. The (not referenced but existing) candidate-pair's state is "in-progress".
2. transport.dtlsState is "connected", transport.selectedCandidatePair is defined and the referenced candidate-pair's state is "succeeded".

**Question:** Is it correct to assume that this _could_ be a valid outcome as well, and possibly is the outcome we should expect when it flakes instead of 1):

3. transport.dtlsState is "new", transport.selectedCandidatePair is defined and the referenced candidate-apir's state is "succeeded".

Is it correct to say that 1) should not be possible when we are "ICE-connected", and there is a bug in Chrome? Or should the test wait for "DTLS-connected" or for packets to start flowing before asserting that selectedCandidatePair is defined?

CC @jonasesolsson @jan-ivar @vr000m

The test in question is ["RTCRtpReceiver.getStats() contains only inbound-rtp and related stats"](https://cs.chromium.org/chromium/src/third_party/blink/web_tests/external/wpt/webrtc/RTCPeerConnection-track-stats.https.html?l=445) and it fails because receiver.getStats() does not contain a candidate-pair, which it doesn't because the receiver's transport doesn't reference it due to selectedCandidatePair being null. If you inspect the pc.getStats() you can see that there is a candidate-pair but that it is not "succeeded" yet.

Media packets can only flow once DTLS is connected (you don't have keys for encryption/decryption otherwise) so 
```
    await onIceConnectionStateCompleted(caller);
```
should wait for the connectionState, not for iceConnectionState.

Right, but the test only verifies that the transport has a candidate-pair, not that media is flowing. Doing what you suggests avoids the problem, but I wonder if that is hiding a real issue.

Both state 1 and state 3 should be valid states at different points in the setup.

Before choosing a pair, we will have state 1.

The DTLS handshake is exchanged on the media path, which can only be exchanged once the candidate pair has been selected, which means that the ICE connection's state has changed to "connected" or "completed" state.

Thus, there is a time lag between the ICE state reporting "connected" and the DTLS state reporting "connected". Before DTLS state "connected", we have state 3; after it, we have state 2.

RFC 5245 section 11.1.1 says about the selected pair:

   The selected pair for a component of a media stream is:

   o  empty if the state of the check list for that media stream is
      Running, and there is no previous selected pair for that component
      due to an ICE restart

   o  equal to the previous selected pair for a component of a media
      stream if the state of the check list for that media stream is
      Running, and there was a previous selected pair for that component
      due to an ICE restart

   o  equal to the highest-priority nominated pair for that component in
      the valid list if the state of the check list is Completed

The test is not doing an ICE restart (I assume, without checking), so the middle category does not apply.
So if the selected pair exists, the state of the check list has to be Completed.
The candidate pair's state is defined as one of frozen, waiting, in-progress, failed or succeeded according to RFC 5245 section 5.7.4, where it says that "The state is assigned once the check list for each media stream has been computed", and is subsequently updated.

The existence of nominated pairs depends on whether we are doing regular or aggressive nomination (8.1.1) - with aggressive nomination, it is possible to have nominated pairs in the failed state.
But aggressive nomination is discouraged, and outright removed from ICEv2 - I don't think Chrome does it.

Short-short: If we have a selected pair that is not in the "succeeded" state, I think that's a bug.
If we don't have a selected pair, that just means we haven't gotten to that point yet.





Re-reading the original report, I'm not sure what it's saying - "it seems that a side-effect of possibly being "ICE-connected" earlier is that selectedCandidatePair is not always defined on the transport stats object despite iceConnectionState == "connected". This sounds like a bug." - I agree that this seems like an implementation bug, I don't think there's a spec bug here.


Thanks, the TL;DR on this issue is "if you're ICE-connected you should have a selected candidate pair, whether or not DTLS has completed, so this is a Chrome bug". I wound up filing Chrome bugs https://crbug.com/926170 and https://crbug.com/926198. Closing this question.