setCodecPreferences contradicts JSEP wrt answer codec list being a subset?

https://w3c.github.io/webrtc-pc/#dom-rtcrtptransceiver-setcodecpreferences says
```
Note that calls to createAnswer will use only the common subset of these codecs and 
the codecs that appear in the offer.
```
seems to contradict the last sentence of this paragraph from http://rtcweb-wg.github.io/jsep/#rfc.section.5.3.1
```
Otherwise, the media formats on the m= line MUST be generated in the same order as 
those offered in the current remote description, excluding any currently unsupported 
formats. Any currently available media formats that are not present in the current 
remote description MUST be added after all existing formats.
```
However, this paragraph won't apply when setCodecPreferences has been used as the one before it says
```
If codec preferences have been set for the associated transceiver, media formats MUST
 be generated in the corresponding order, regardless of what was offered, and MUST 
exclude any codecs not present in the codec preferences.
```

I think removing that informal "Note" is the way to go.

The paragraph you quoted is just saying "IF you add new formats, they must be added at the end, so as to not cause codecs to switch unintentionally." For example:

Offer: A B C
Answer: B C (A wasn't available for whatever reason)
New offer: A B C
New answer: B C A (so other side will continue to send using codec B by default, but MAY switch to A)

The contradiction is actually here:

> In either case, the media formats in the answer MUST include at least one format that is present in the offer, but MAY include formats that are locally supported but not present in the offer, as mentioned in [RFC3264], Section 6.1.

It's a MAY, not a MUST. I suggest clarifying the note but not removing it completely, since I believe most people do plan to enforce the "subset" restriction, which is a SHOULD in RFC3264.

I don't understand why we didn't just add a "reofferCodecs" parameter to `RTCAnswerOptions` to address this (https://github.com/w3c/webrtc-pc/pull/988). It would be so simple to implement...

Looking at the Jan 25 2017 VI minutes, it looks like the conclusion was "we'll try to solve this in JSEP first"? Given that the "MAY" doesn't really solve this (it just "MAYbe" solves it), maybe it's time to reopen PR #988?