RTCIceTransport selected candidate pair behavior when changing state

I have some questions about the behavior of getSelectedCandidatePair() and the selectedcandidatepairevent in the following cases:

1) When the RTCIceTransport is closed (due to either RTCPeerConnection close() or SLD/SRD removing it)? Proposal: getSelectedCandidatePair() returns null and the event does not fire.
2) When the RTCIceTransport transitions to 'disconnected'? Proposal: getSelectedCandidatePair() returns the current value the event does not fire.
3) When the RTCIceTransport transitions to 'failed'? Proposal: getSelectedCandidatePair() returns null and the event does not fire.

Also, when might the selectedcandidatepairevent fire with a newly-null selected candidate pair?

Thoughts:
- Let getSelectedCandidatePair return null if the state is "new", "checking" or "closed"
- In the "failed" state, return whatever the last selected pair was (or null if there never was a selected pair)
- in "connected" or "completed" states, return the currently selected candidate
There's no way to "disconnected" that doesn't go at least via "connected" or "completed", so in "disconnected", the currently selected candidate should always have a value.

We should remove the "and null otherwise" from step 4 under "When the ICE Agent indicates that the selected candidate pair for an RTCIceTransport has changed". That way, there's no way to change [[SelectedCandidatePair]] from non-null to null, and also no way to fire the event with an empty candidate pair.

(There's no definition for when the ICE Agent indicates that the selected candidate pair has changed; RFC 5245 section 11.1.1 (full implementations) says that the selected pair is empty only if there is no previous selected pair, so this is consistent with the above.)

Harald's proposal sounds good to me. I can see the value in keeping the selected candidate pair set when transitioning to "failed".

Proposal: 

When the RTCIceTransport is closed (due to either RTCPeerConnection close() or SLD/SRD removing it)? Proposal: getSelectedCandidatePair() returns null and the event does not fire.
When the RTCIceTransport transitions to 'disconnected'? Proposal: getSelectedCandidatePair() returns the current value the event does not fire.
When the RTCIceTransport transitions to 'failed'? Proposal: getSelectedCandidatePair() returns the current value and the event does not fire.