Section 5.1.1:  Issue 2

"Issue 2" is contained within a note in Section 5.1.1.  It is time for this issue to be "fully considered". 

Since the beginning of this specification, remote MediaStreamTracks have been created by the setRemoteDescription call, one track for each non-rejected media description in the remote description. This meant that at the caller, MediaStreamTracks were not created until the answer was received, and any media received prior to a remote description (AKA "early media") would be discarded. If any form of remote description is provided (either an answer or a pranswer), this issue does not occur.

If we want to allow early media to be played out, minor changes are necessary. Fundamentally, we would need to change when tracks are created for the offerer;  this would have to happen either as a result of setLocalDescription, or when media packets are received. This ensures that these objects can be created and connected to media elements for playout.

However, there are three consequences to this potential change:

Media may arrive before the remote DTLS fingerprint has been received. This means that media could be played out before the validity of the DTLS fingerprint has been established, which may be hard to explain to users. As such, it is recommended that media not be played out unless some TBD RTCConfiguration property (e.g. AllowUnverifiedMedia) has been set.

The information needed to correlate MediaStreamTracks with their enclosing MediaStreams will not yet be present when the tracks are initially generated. Therefore, the implementation will need to create dummy MediaStream objects for each MediaStreamTrack, and then possibly change the associated MediaStream for each track when the remote description is received (e.g. if it indicates that an audio and video MediaStreamTrack should be combined into a single MediaStream). Since media elements act on MediaStreams, some complex reshuffling may need to occur when the remote description is received.

The track events fired and their timing will change. For the offerer, ontrack will now fire during setLocalDescription, once for each track being offered, and track.onended will fire during setRemoteDescription for any offered tracks that were rejected. For the answerer, ontrack will continue to fire during setRemoteDescription, as it does today (this is necessary to allow the answerer to reject offered tracks by stopping them).


I could be forgetting something, but I thought "early media" was one of the things transceivers solved? As soon as the offerer adds a track, a transceiver is created, which has a receiver, which has a track. An application can connect this remote track to a video element even before the offer is sent. See [this example](https://www.w3.org/TR/webrtc/#simple-peer-to-peer-example-with-media-before-signaling).

As for the consequences:

> This means that media could be played out before the validity of the DTLS fingerprint has been established, which may be hard to explain to users.

I thought this was prevented by RFC 4572 Section 6.2:

>   Note that when the offer/answer model is being used, it is possible
   for a media connection to outrace the answer back to the offerer.
   Thus, if the offerer has offered a 'setup:passive' or 'setup:actpass'
   role, it MUST (as specified in RFC 4145 [2]) begin listening for an
   incoming connection as soon as it sends its offer.  However, it MUST
   NOT assume that the data transmitted over the TLS connection is valid
   until it has received a matching fingerprint in an SDP answer.  If
   the fingerprint, once it arrives, does not match the client's
   certificate, the server endpoint MUST terminate the media connection

In my opinion it wouldn't be wise to offer a way around this (via an `AllowUnverifiedMedia` or similar option). But that could be a separate discussion.

> Therefore, the implementation will need to create dummy MediaStream objects for each MediaStreamTrack, and then possibly change the associated MediaStream for each track when the remote description is received

The implementation doesn't need to create the dummy stream; as in the example linked above, the application can create the stream itself.

> The track events fired and their timing will change

If it's sufficient to use transceivers for the "early media" use case, I don't think `ontrack` needs to change. Maybe it would be useful if `RtpReceiver` provided an indication when the first packet or frame of a track is received, but that could be independent of `ontrack`.

@taylor-b My suggestion is to delete Issue 2, since it predates transceivers which address the timing aspects described in the first two paragraphs.  There is a separate issue filed on AllowUnverifiedMedia (see https://github.com/w3c/webrtc-pc/issues/849) so that part can be delt with there. 

Sounds good to me.