Validate an ICE server url is missing length check for username

The "validate an ICE server URL" steps in
https://w3c.github.io/webrtc-pc/#set-the-configuration
do not specify a length check on the username for TURN urls.

RFC 8489 limits the username length to 509 bytes (down from 512 bytes in RFC 5389).
This has led to diverging behavior which is [trivally observable](https://jsfiddle.net/fippo/7xot4avw/7/)
* Firefox throws an InvalidAccessError but never updated for RFC 8489 so throws at 512 characters (and has a typo in the error message).
* Safari throws at 509 characters but it throws a TypeError.
* Chromium silently ignores usernames longer than 509 characters since this caused the ["NAT SlipStream" attack in 2020](https://datatracker.ietf.org/meeting/110/materials/slides-110-rtcweb-nat-slipstream-00) (thanks @alvestrand!) and never sends the STUN packets.

There is [no WPT covering this](https://wpt.fyi/results/webrtc/RTCConfiguration-iceServers.html).

Technically Chrome is following the spec and might have frustrated attackers.
But it seems easier to align on helping developers and add the following bullet point:
* If parsedURL's' scheme is "turn" or "turns", and the UTF-8 representation of server.username exceeds the 509 byte limit defined by RFC 8489 section, then throw an InvalidAccessError.

It is unclear to me why Safari attempts to restrict the credential in the same way [here](https://github.com/WebKit/WebKit/blob/e72e89897081efd608c057fe8c33f468a10bda4b/Source/WebCore/Modules/mediastream/RTCPeerConnection.cpp#L551). The credential is never transmitted over the network in clear but only input to the TURN authentication hash.

Semi-related, why is "do not exist" used in step 7 and therefore forbids rejecting an empty username?
Apparently 3/4 implementations [do not agree either](https://wpt.fyi/results/webrtc/RTCConfiguration-iceServers.html?label=experimental&label=master&aligned). What is the TURN client supposed to put into the username field? Firefox actually puts an empty string there which is unlikely to be useful and fails to proceed with an empty password.


cc @alvestrand @jan-ivar @youennf 

I was hoping to see somewhere in https://w3c.github.io/webrtc-pc/#dfn-validate-an-ice-server-url a sentence saying "if the URL doesn't conform to the syntax in RFC 8489, throw (something)", but there is no such generic call-out.
In general, I prefer to incorporate specific limits by reference, not by value ("check against 509"), in case the reference gets updated - but I agree that consistent behavior is nice, so we should specify it.

(I believe the "don't throw just ignore" was done because it was easier to do at the level in the stack where I added the check, but checking earlier is fine!)

> Semi-related, why is "do not exist" used in step 7 and therefore forbids rejecting an empty username?
Apparently 3/4 implementations [do not agree either](https://wpt.fyi/results/webrtc/RTCConfiguration-iceServers.html?label=experimental&label=master&aligned). What is the TURN client supposed to put into the username field? Firefox actually puts an empty string there which is unlikely to be useful and fails to proceed with an empty password.

On username, Firefox follows spec: [RFC 8489 section 14.3](https://www.rfc-editor.org/rfc/rfc8489.html#section-14.3) says: _"USERNAME is a variable-length value containing the authentication username.  It MUST contain a UTF-8-encoded [[RFC3629](https://www.rfc-editor.org/rfc/rfc3629)] sequence of fewer than 509 bytes and MUST have been processed using the OpaqueString profile [[RFC8265](https://www.rfc-editor.org/rfc/rfc8265)]."_

Since zero is less than 509, `USERNAME=""` appears valid, and would only 401 unless the server has an account named `""` of course.

But [RFC 8265 section 4.1](https://www.rfc-editor.org/rfc/rfc8265#section-4.1) says _"A password MUST NOT be zero bytes in length."_


> On username, Firefox follows spec

Firefox source code [disagrees with you](https://searchfox.org/mozilla-central/source/dom/media/PeerConnection.sys.mjs#774)


This issue  was discussed in [WebRTC May 2025 meeting – 20 May 2025  (Issue #3049 Validate an ICE server url is missing length check for username)](https://www.w3.org/2025/05/20-webrtc-minutes.html#4583)